html, body
{
    height:100%;
    width:100%;
    margin: 0;
    background-color: #BCD;
   /* background-image:url('images/bg.png');*/
    background-repeat:repeat;
}


#topwrap
{
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color: #BCD;
    text-align: center;
}


#header
{
    text-align: center;
    min-height: 110px;
    background-color: #000020;
}
#header img
{
  margin: 10px 0 0 0;
}


#index
{
    background-color: #BCD;
    min-height: 50px;
    float: center;
}

#index #menu
{
    margin: auto;
    background-color: #BCD;
    width: 800px;
    float:left;
}

#menu ul
{
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 0px 5px;
    list-style: none;
}

#menu li 
{
    display: inline;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 20px;
}

#menu a 
{
    text-decoration: none;
    text-transform: uppercase;
    font: bold 15px sans-serif;
    color: #0000AA;
    margin: 0px 0px 0px 0px;
    padding: 13px 4px 12px 5px;
}

#menu a:hover, #menu a.first:hover
{
    #background-color: #1d1d1d;
}

#menu a.first
{
    background: none;
}

#menu a.chosen
{
    color: #3333FF;
    text-decoration: underline;
}

#menu a.chosen:hover
{
}


a img
{
	border: 0px;
}





#mainholder
{
    margin: 155px auto;
    width: 900px;
    float: center;
}

#mainholder img
{
margin: 10px 0px;
border: 1px solid #333;
border-radius: 10px; 
}

#mainholder img.noborder
{
margin: 0px 0px;
border: 0px solid #333;
border-radius: 0px;   
}

#foot
{
	min-height: 50px
}








#vmenu
{
    position: fixed;
    width: 220px;
    padding-top: 20px;
    background-color: #BCD;
}

#menulateralending 
{
  position: static;
  height: 50px;
  width: 220px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  background-image: url('Imagens/ListItem_Ending.png');
  background-size: 220px 50px;
  background-repeat: no-repeat;
  background-position: 0px 0px; 
}


#vmenu ul
{
  list-style: none;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}

#vmenu ul li.menulateralfirst 
{
  height: 30px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('Imagens/ListItem_First.png');
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: 5px 0px; 
  padding-left: 35px; 
  text-align: left;
  font: 15px sans-serif;
}

#vmenu a
{
  font: bold 15px sans-serif;
  text-decoration: none;
  color: #008696;
}

#vmenu ul li.menulateral 
{
  height: 30px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url('Imagens/ListItem.png');
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: 5px 0px; 
  padding-left: 35px; 
  text-align: left;
}
#vmenu ul li.menulateralcont 
{
  height: 30px;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #1d1f27;
  background-image: url('Imagens/ListItem_cont.png');
  background-size: 25px 30px;
  background-repeat: no-repeat;
  background-position: 5px 0px; 
  padding-left: 35px; 
  text-align: left;
}







#content
{
    float: right;
    width: 650px;
}

#content h1
{
  font: bold 25px sans-serif;
  text-align: center;
  color: #008696;
  border-bottom-style: solid;
}

#content p
{
  font: 15px sans-serif;
}





#content #pessoal div
{
    position: relative;
    margin: 30px 0px 0px 0px;
}

#content h2
{
    margin: 50px 30px 0 30px;
    font: bold 21px sans-serif;
    text-decoration: underline;
    color: #046;
}

#content #pessoal h4
{
    margin: 50px 0px 10px 0px; 
    font: bold 18px sans-serif;
    text-align: left;
    color: #113;
}


#content #pessoal img
{
	float: right;
}

#content #pessoal img.pessoal
{
	height: 150px;
}

#content #pessoal a, #content #pessoal a:visited, #content #pessoal a:hover
{
      font: 13px sans-serif;
      text-decoration: none;
      color: #04A;
}

#content #pessoal a:hover
{
      color: #0AF;
}



#content #listapub h2, #content #listasoft h2
{
    margin: 30px 70px 10px 0px; 
    font: bold 15px sans-serif;
    text-align: left;
    text-decorations: underline;
    color: #113;
}


#content #listasoft ul
{
    margin: 30px 70px 10px 0px; 
}

#content #listapub li, #content #listasoft li
{
    margin: 15px 0;
    font: 13px sans-serif;
    color: #333;
    text-align: justify;
}

#content #listasoft li
{
    font: 15px sans-serif;
}

#content #listapub li a, #content #listasoft li a
{
    color: #33A;
    text-decoration: none;
}




/* Imagens galeria na home */

#gallery {
   padding: 0;
   margin: 0;
   list-style-type: none;
   overflow: hidden;
   margin: auto; /* centralizar */
   width: 372px;
   height: 300px;
   /*border: 1px solid #888888;*/
   /*background: url(Fotos/fig6.jpg);*/
}
#gallery li {
   float: left;
}
#gallery li a {
	transition: width 0.5s;
   -webkit-transition: width 0.5s;
   display: block;
   height: 300px;
   width: 0px;
   float: left;
   text-decoration: none;
   cursor: default;
   opacity: 0.35;
   filter: alpha(opacity=35); /* IE 8 and earlier */
}
#gallery li a img {
	transition: width 0.5s;
   -webkit-transition: width 0.5s;
   width: 0px;
   height: 300px;
   border: 0;
   opacity: 0.35;
   filter: alpha(opacity=35);
}
#gallery li a.active {
   background: #eeeeee;
   width: 372px;
   opacity: 1;
   filter: alpha(opacity=100);
}
#gallery li a.active img {
   width: 372px;
   opacity: 1;
   filter: alpha(opacity=100);
}

#circle  {
   padding: 0;
   margin: 0;
   list-style-type: none;
   margin: auto;
   width: 372px; /*6*60 + 6 = 366px */
   height: 60px;
}

#circle li {
   float: none;
}

#circle li a {
   display: block;
   float: left;
   text-decoration: none;
   cursor: default;
   opacity: 0.3;
   filter: alpha(opacity=30); /* IE 8 and earlier */
}
#circle li a img {
   padding: 1px;
	width: 60px;
   height: 60px;
   display: block;
   opacity: 0.3;
   filter: alpha(opacity=30); /* For IE8 and earlier */
}
#circle li a:hover,
#circle li a.active {
   opacity: 1;
   filter: alpha(opacity=100);
}
#circle li a:hover img,
#circle li a.active img {
   opacity: 1;
   filter: alpha(opacity=100);
}
