---
layout: default
curtop: research
---

    <div id="vmenu">
      
      <ul class="menulateral">
          <li class="menulateralfirst"><a {% if page.curlat == 'research' %} class="chosen"{% endif %}href="research.html">Neural Coding</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a {% if page.curlat == 'fly' %} class="chosen"{% endif %}href="fly.html">Blowfly Visual System</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a {% if page.curlat == 'cpg' %} class="chosen"{% endif %}href="cpg.html">Central Pattern Generators</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a {% if page.curlat == 'electricfish' %} class="chosen"{% endif %}href="electricfish.html">Electroreception of electric fishes</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a {% if page.curlat == 'instrumentation' %} class="chosen"{% endif %}href="instrumentation.html">Computational Instrumentation</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a {% if page.curlat == 'simulations' %} class="chosen"{% endif %}href="simulations.html">Neural Networks Simulations</a></li>
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
