---
layout: default
curtop: index
---

    <div id="vmenu">
      
      <ul class="menulateral">
          <li class="menulateralfirst"><a {% if page.curlat == 'opportunities' %}class="chosen"{% endif %}href="opportunities.html">Opportunities!</a></li>
        <li class="menulateral"><a href="research.html">Know our research</a></li>
        <li class="menulateral"><a href="labpics.html">Lab pictures</a></li>
        <li class="menulateral"><a href="teammembers.html">Team members</a></li>
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
