---
layout: default
curtop: teammembers
---

    <div id="vmenu">
      <ul class="menulateral">
        <li class="menulateralfirst"><a {% if page.curlat == 'teammembers' %} class="chosen"{% endif %} href="teammembers.html">Faculty & Lab Experts</a></li>
        <li class="menulateral"><a {% if page.curlat == 'students' %} class="chosen"{% endif %} href="students.html">Students & Researchers</a></li>
        <li class="menulateral"><a {% if page.curlat == 'alumni' %} class="chosen"{% endif %} href="alumni.html">Former members</a></li>
        <li class="menulateral"><a {% if page.curlat == 'visitors' %} class="chosen"{% endif %} href="visitors.html">Visitors</a></li>
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
