---
layout: default
---

    <div id="vmenu">
      
      <ul class="menulateral">
        <li class="menulateralfirst"><a href="cpg.html">Central Pattern Generators</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a href="electricfish.html">Electroreception of electric fishes</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a href="instrumentation.html">Computational Instrumentation</a></li>
        <li class="menulateralcont"></li>
        <li class="menulateral"><a href="simulations.html">Neural Networks Simulations</a></li>
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
