---
layout: default
curtop: publications
---

    <div id="vmenu">
      
      <ul class="menulateral">
        <li class="menulateralfirst"><a {% if page.curlat == 'publications' %} class="chosen"{% endif %}href="publications.html">Papers</a></li>
        <li class="menulateral"><a {% if page.curlat == 'slides' %} class="chosen"{% endif %}href="slides.html">Slides and talks</a></li>
        <li class="menulateral"><a {% if page.curlat == 'software' %} class="chosen"{% endif %}href="software.html">Software</a></li>
        <li class="menulateral"><a {% if page.curlat == 'education' %} class="chosen"{% endif %}href="education.html">Education</a></li>
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
