---
layout: default
curtop: divulgacao
---

    <div id="vmenu">
      
      <ul class="menulateral">
        <li class="menulateralfirst"><a {% if page.curlat == 'oqueeneurociencia' %} class="chosen"{% endif %} href="divulgacao.html">O que é Neurociência?</a></li>
        <!-- <li class="menulateral"><a {% if page.curlat == 'divulgacao2' %} class="chosen"{% endif %} href="divulgacao.html">Divulgacao</a></li> -->
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
