---
layout: default
curtop: divulgacao
---

    <div id="vmenu">
      
      <ul class="menulateral">
        <li class="menulateralfirst"><a {% if page.curlat == 'oqueeneurociencia' %} class="chosen"{% endif %} href="divulgacao.html">O que é Neurociência?</a></li>
        <li class="menulateral"><a {% if page.curlat == 'registromaisantigo' %} class="chosen"{% endif %} href="registromaisantigo.html">O registo mais antigo da Neurociência</a></li>
        <li class="menulateral"><a {% if page.curlat == 'comosetornarneuro' %} class="chosen"{% endif %} href="comoserneurocientista.html">Como se tornar um Neurocientista</a></li>
      </ul>
      <div id="menulateralending"></div>
    </div>
    {{ content }}
